/* .circles{
	display:flex;
	gap:25px;
	justify-content:center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
	justify-content:center;
	text-align:center;
	color:black;
	align-content:center;
	border:2px solid #3FA2F6;
}
.btn{
	margin:30px;
	justify-content:center;
	text-align:center;
}
button{
	background-color:#3FA2F6;
	color:white;
	border:none;
	padding:8px 20px;
	border-radius:3px;
	
}
 */